.drawer {
  height: 800px;

  background-color: #fbab7e;
  background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
}
.main-container {
  height: 800px;
}
.dashboard-list li {
  list-style: none;
  text-align: justify;
  color: black;
}
