.Login {
  margin: 50px;
  padding: 30px;
}
.Form input {
  width: 70%;
  border-radius: 100px;
  border: 1px solid black;
  padding: 15px;
  height: 55px;
  background-color: rgb(245, 245, 245);
}
#submit {
  background-color: #3bb78f;

  font-weight: 600;
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(255, 209, 67, 1) 0%,
    rgba(255, 145, 83, 1) 90%
  );
}

.Reg-section {
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(255, 209, 67, 1) 0%,
    rgba(255, 145, 83, 1) 90%
  );

  padding: 100px 0px;
  height: 420px;

  /* margin: -50px 0px; */
}
.login-form {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  height: 420px;
}
.link-btn {
  margin-top: 10px;
  padding: 8px 30px;
  background-color: black;
  color: aliceblue;
  border-radius: 100px;
  border: 1px solid black;
}
.google-login {
  padding: 10px 30px;
  border-radius: 50px;
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(255, 209, 67, 1) 0%,
    rgba(255, 145, 83, 1) 90%
  );
  border: 0px;

  font-weight: 700;
}

.login-sec {
  padding-top: 50px;
}
